:root {
  --dark-theme-background-color: rgb(51, 50, 50);
  --dark-theme-font-color: rgb(184, 145, 135);
  --light-theme-background-color: rgb(250, 202, 184);
  --light-theme-font-color: rgb(85, 25, 3);
  --selected-theme-background-color:  rgb(250, 202, 184);
  --selected-theme-font-color: rgb(85, 25, 3); }
